<div class="hero">
  <hr />
  <p>Here is a collection of projects I've recently worked on.</p>
  <p>I aim to write loosely coupled code, and love refactoring old applications.</p>
  <hr />
</div>
<%= render "refills/grid_items" %>
