<div class="hero">
  <hr />
  <p>Here's a collection of projects I'm currently working on.
  <p>My personal favorite, <%= link_to "PitchFort", "https://pitchfort.herokuapp.com" %>, is a CRM tool for PR professionals, featuring oauth and CSV uploads.</p>
  <p>I also recommend <%=link_to "SurveyCat", "https://surveycat.herokuapp.com" %>, a simple survey-builder.</p>
  <p>I aim to write loosely coupled code, and enjoy refactoring old
  apps.</p>
  <hr />
</div>
<%= render "refills/grid_items" %>
