<div class="about">
  <hr>
  <p>My name is Matt Kiernan.</p>

  <p>I'm a recent graduate of Thoughtbot's Metis program.</p>

  <p>I also have 8 years of integrated marketing experience.</p>

  <p>When not building things, I perform improv and play baseball around Boston.</p>

  <p>You can view my <%= link_to "full resume here", resume_path %>, or contact me at <%= mail_to "matt.kiernan@gmail.com", "matt.kiernan@gmail.com" %></p>
  <hr>
</div>
