<div class="about">
  <hr>
  <p>My name is Matt Kiernan.</p>

  <p>I'm a rails developer currently enrolled in Thoughtbot's Metis program.</p>

  <p>I also have 8 years of integrated marketing experience.</p>

  <p>When not building things, I perform improv and play baseball around Boston.</p>
  <hr>
</div>
