body{
  margin: 0;
  padding: 0;
}

.header{
  font-size: 20px;
  letter-spacing: 40px;
  margin-right: -40px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  a{
    color: $dark-gray;
  };
};

.hero{
  font-size: 20px;
  color: $dark-gray;
  padding: 0px 8px 0px 8px;
  margin-bottom: 20px;
};

.page-content{
  @include outer-container;
}

.about{
  font-size: 20px;
  padding: 0px 8px 0px 8px;
  height: 600px;
}

.admin-controls{
  background-color: $blue;
  ul li{
    display: inline;
    a{
      color: #ffffff;
      padding: 0 10px;
    };
  };
};
