<footer class="footer-2">
  <div class="footer-logo">
    <ul>
      <li><a href="/">MTK</a></li>
    </ul>
  </div>
  <ul>
    <li><a href="/">Blog</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/about">About</a></li>
  </ul>

  <div class="footer-secondary-links">
    <ul class="footer-social">
      <li><a href="http://github.com/mattkiernan" target="_blank">
        <img src="/github.png" alt="Facebook">
      </a></li>
      <li><a href="http://www.twitter.com/mattkiernan" target="_blank">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
      </a></li>
      <li><a href="https://www.linkedin.com/in/matthewkiernan" target="_blank">
        <img src="/linkedin.png" alt="YouTube">
      </a></li>
    </ul>
  </div>
</footer>
