<div class="grid-items">
  <a href="https://aqueous-retreat-9817.herokuapp.com/" target="_blank" class="grid-item">
    <img src="/megaphone.png" alt="">
    <h1>Shoutr</h1>
    <p>(pending design)</p>
  </a>
  <a href="https://pitchfort.herokuapp.com" class="grid-item grid-item-big grid-item-image" target="_blank">
    <img src="/newspaper.png" alt="">
    <h1>PitchFort</h1>
    <p>Track emails to & from journalists</p>
  </a>
  <a href="https://surveycat.herokuapp.com" target="_blank" class="grid-item grid-item-big grid-item-image-2">
    <img src="/survey.png" alt="">
    <h1>SurveyCat</h1>
    <p>Create & take surveys</p>
  </a>
  <a href="http://intense-hollows-7924.herokuapp.com/session/new" target="_blank" class="grid-item" target="_blank">
    <img src="/camera.png" alt="">
    <h1>Pixtr</h1>
    <p>(pending design)</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="/question.png" alt="">
    <h1>Coming Soon</h1>
    <p>Hangman</p>
  </a>
  <a href="https://calm-inlet-7623.herokuapp.com/" target="_blank" class="grid-item">
    <img src="/list.png" alt="">
    <h1>Taskr</h1>
    <p>(pending design)</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <img src="/shortener.png" alt="">
    <h1>Coming Soon</h1>
    <p>Shortnr</p>
  </a>
</div>
